1. What are data structures, and why are they important?
 - Data structures are organized ways to store and manage data so it can be used efficiently. They are important because they make tasks like searching, sorting, and processing information faster and more effective, helping both software and systems run smoothly.
2. Explain the difference between mutable and immutable data types with examples?
- Mutable data types can be changed after creation (e.g., lists in Python: [1,2,3] → [1,2,4]).
Immutable data types cannot be changed once created (e.g., strings: "hello" always stays the same, changes create a new string).
3. What are the main differences between lists and tuples in Python?
- Lists are mutable, that is their elements can be changed, altered, added, or removed. whereas Tuples are immutable, so once created, their elements cannot be modified.
4. Describe how dictionaries store data?
- Dictionaries store data in key value pairs, where each key is unique and maps directly to a value. This structure allows quick access, modification, and organization of data, making it ideal for situations where you need to look up information efficiently.
5. Why might you use a set instead of a list in Python?
- We might use a set instead of a list to store unique elements and perform operations like union, intersection, or difference efficiently. Sets also provide faster membership testing compared to lists.
6. What is a string in Python, and how is it different from a list?
- A string in Python is a sequence of characters enclosed in quotes, used to represent text. Unlike a list, a string is immutable, so its characters cannot be changed individually, whereas list elements can be modified.
7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in Python because they are immutable, meaning once created, their elements cannot be changed. This prevents accidental modifications and makes them reliable for storing fixed data.
8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function for fast access. In Python, dictionaries are implemented using hash tables, allowing quick retrieval, insertion, and deletion of key value pairs.
9. Can lists contain different data types in Python?
- Yes, lists in Python can contain different data types together, such as integers, strings, and even other lists, making them flexible for storing mixed data.
10. Explain why strings are immutable in Python?
- Strings are immutable in Python to ensure consistency and safety. Once created, their value cannot be changed, which prevents accidental modifications and allows Python to optimize memory and performance.
11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer fast data lookup using keys, easy organization of related data, and ensure unique identifiers for each value, making them more efficient than lists for tasks requiring quick access or mapping relationships.
12. Describe a scenario where using a tuple would be preferable over a list?
- Using a tuple is preferable when you need to store fixed data that shouldnot change, like coordinates (x, y) or configuration settings, ensuring the data remains safe and consistent throughout the program.
13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicate values, storing only unique elements, which makes them ideal for tasks like filtering repeated data or checking membership efficiently.
14. How does the “in” keyword work differently for lists and dictionaries?
- In lists, the 'in' keyword checks if a value exists in the list.
In dictionaries, 'in' checks if a key exists, not the value, for quick key-based lookup.
15. Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify elements of a tuple because tuples are immutable. Once created, their content cannot be changed, ensuring data integrity and preventing accidental updates.
16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary that contains another dictionary as a value.
Example: storing student data with subjects and marks:
students = {"Alice": {"Math": 90, "Science": 85},
    "Bob": {"Math": 75, "Science": 80}}
It is useful for organizing hierarchical or structured data.
17. Describe the time complexity of accessing elements in a dictionary?
- Accessing elements in a dictionary has an average time complexity of O(1) because it uses a hash table, allowing near-instant retrieval of values by their keys.
18. In what situations are lists preferred over dictionaries?
- Lists are preferred when you need ordered collections, want to store duplicate values, or need to access elements by position rather than by key.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because they do not maintain a specific element sequence (in Python <3.7).
20. Explain the difference between a list and a dictionary in terms of data retrieval.
- In a list, data is retrieved by index, so searching for a value may require scanning elements (O(n) time).
In a dictionary, data is retrieved by key, allowing fast access in O(1) time using the hash table.

1. Write a code to create a string with your name and print it?

In [1]:
1. # Create a string with your name
name = "Itishri"
# Print the string
print(name)

Itishri

2. Write a code to find the length of the string "Hello World"?

In [2]:
2. # String
text = "Hello World"

# Find length
length = len(text)


# Print length
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [3]:
3. # String
text = "Python Programming"

# Slice first 3 characters
slice_text = text[:3]

# Print the result
print(slice_text)

Pyt

4. Write a code to convert the string "hello" to uppercase?

In [4]:
4. # String
text = "hello"

# Convert to uppercase
upper_text = text.upper()

# Print result
print(upper_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [5]:
5.  # Original string
text = "I like apple"

# Replace 'apple' with 'orange'
new_text = text.replace("apple", "orange")


# Print result
print(new_text)

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it?

In [6]:
6.  # Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]


# Print the list
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [7]:
7. # Original list
numbers = [1, 2, 3, 4]

# Append 10
numbers.append(10)

# Print updated list
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [8]:
8. # Original list
numbers = [1, 2, 3, 4, 5]

# Remove number 3
numbers.remove(3)

# Print updated list
print(numbers)

[1, 2, 4, 5]

9. P Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [9]:
9. # List
letters = ['a', 'b', 'c', 'd']

# Access second element
second_element = letters[1]

# Print result
print(second_element)

b

 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
10. # Original list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print reversed list
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [13]:
11. # Create a tuple
numbers = (100, 200, 300)


# Print the tuple
print(numbers)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [14]:
12. # Tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access second-to-last element
second_last = colors[-2]

# Print result
print(second_last)

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
13.  # Tuple
numbers = (10, 20, 5, 15)

# Find minimum number
min_number = min(numbers)

# Print result
print(min_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
14.    # Tuple
animals = ('dog', 'cat', 'rabbit')

# Find index of 'cat'
index_cat = animals.index('cat')

# Print result
print(index_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
15.  # Tuple with fruits
fruits = ('apple', 'banana', 'mango')

# Check if 'kiwi' is in the tuple
is_kiwi_present = 'kiwi' in fruits

# Print result
print(is_kiwi_present)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [18]:
16. # Create a set
letters = {'a', 'b', 'c'}

# Print the set
print(letters)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
17.  # Original set
numbers = {1, 2, 3, 4, 5}

# Clear all elements
numbers.clear()

# Print the set
print(numbers)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [20]:
18. # Original set
numbers = {1, 2, 3, 4}

# Remove element 4
numbers.remove(4)

# Print updated set
print(numbers)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [21]:
19. # Two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find union
union_set = set1.union(set2)

# Print result
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [22]:
20. # Two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

#Find intersection
intersection_set = set1.intersection(set2)

#Print result
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
21. # Create a dictionary
person = {"name": "Itishri", "age": 30, "city": "Indore"}

# Print the dictionary
print(person)

{'name': 'Itishri', 'age': 30, 'city': 'Indore'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [24]:
22. # Original dictionary
person = {'name': 'John', 'age': 25}

# Add new key-value pair
person['country'] = 'USA'

# Print updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [25]:
23. # Original dictionary
person = {'name': Alice, 'age': 30}

# Access value of 'name'
name_value = person['name']

# Print result
print(name_value)

NameError: name 'Alice' is not defined

In [26]:
23.  # Dictionary
person = {'name': 'Alice', 'age': 30}

# Access value of 'name'
name_value = person['name']

# Print result
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [27]:
24. # Original dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove key 'age'
person.pop('age')

# Print updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [28]:
25. # Dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if 'city' key exists
key_exists = 'city' in person

# Print result
print(key_exists)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [29]:
26.  # Create a list
my_list = [1, 2, 3]

# Create a tuple
my_tuple = ('a', 'b', 'c')

# Create a dictionary
my_dict = {'name': 'Itishri', 'age': 25}

# Print all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Itishri', 'age': 25}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [30]:
import random

# Create a list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
numbers.sort()

# Print the result
print(numbers)

[7, 67, 74, 75, 80]

28. Write a code to create a list with strings and print the element at the third index.

In [31]:
28. # List of strings
fruits = ["apple", "banana", "cherry", "mango", "orange"]

# Access element at third index
third_element = fruits[3]

# Print result
print(third_element)

mango

29. Write a code to combine two dictionaries into one and print the result.

In [32]:
# Two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine dictionaries
combined_dict = {**dict1, **dict2}

# Print result
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.  Write a code to convert a list of strings into a set

In [33]:
# List of strings
fruits = ["apple", "banana", "apple", "mango"]

# Convert list to set
fruits_set = set(fruits)

# Print result
print(fruits_set)

{'banana', 'apple', 'mango'}